h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.choice-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 2rem;
}

.selection-row {
  display: flex;
  flex-direction: row;
}

.card-display {
  width: 90%;
}
