section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choices {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--highlights);
  border-radius: 3px;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
