.card {
  padding: 0.5rem;
  border: 1px solid var(--highlights);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 700;
}

p {
  margin: 0;
  padding: 0;
}

.address {
  font-size: 0.9rem;
}
